*{
	margin: 0;
	padding: 0;
	border: 0;
}
ul,ol{
	list-style: none;
}
body{
	font: 14px/26px arial;
	background-color: #f0f0f0;
	color: #555555;
}
a{
	font-weight: bold;
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
header{
	position: fixed;
	background-color: #873131;
	height: 87px;
	z-index: 100;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.9;
}
#logo{
	background-image:url("../img/the-gym.png");
	height: 53px;
	width: 200px;
	float: left;
	margin: 20px;
	background-repeat: no-repeat;
}
nav{
	float: right;
	margin: 45px 29px 24px 0;
}
#menu-icon{
	background-image: url('../img/icon.png');
	height: 55px;
	width: 100px;
	display: none;
}
nav ul li{
	margin-left: 20px;
	display: inline;
}
.current{
	text-decoration: underline;
}
#slider{
	margin: 40px;
}
.container{
	max-width: 1014px;
	margin: 0 auto;
}
.blueberry{
	max-width: 960px;
	margin-top: 110px;
}
section{
	float: left;
	width: 29%;
	margin: 2%;
	text-align: center;
}
i{
	height: auto;
	width: auto;
	padding: 1% 0;
}
h1{
	line-height: 50px;
}
p{
	margin: 0;
	padding: 2% 0;
	line-height: 22px;
}
article{
	width: 50%;
	padding: 3%;
	float: left;
}	
article img{
	width: 100%;
}
aside{
	width: 35%;
	float: right;
	padding: 4%;
}
.clear{
	clear: both;
}
h2{
	line-height: 280%;
	text-decoration: underline;
}
h3{
	line-height: 300%;
}
h4{
	line-height: 50px;
	font-size: 20px;
}
footer{
	background-color: #542a32;
	opacity: 1;
	width: 100%;
	display: inline-block;
}
.contact h3,.contact p{
	color: white;
	font-size: 15px;
}
ul.social{
	display: inline-block;
}
ul.social li{
	float: left;
	margin-right: 5px;
}
ul.social li.facebook a i:hover{
	transition: all .9s ease;
	color: blue;
}
ul.social li.google a i:hover{
	transition: all .9s ease;
	color: red;
}
ul.social li.twitter a i:hover{
	transition: all .9s ease;
	color: blue;
}
ul.social li.youtube a i:hover{
	transition: all .9s ease;
	color: red;
}
.footer-sec{
	background-color: #3d3d3d;
	text-align: center;
}
.footer-sec p{
	color: white;
	margin: 0;
	width: 100%;
	display: inline-block;
	padding: 20px 0 0 0;
	border-top: 1px solid #565758;
}
.responsive{
	width: 100%;
}

/*---------------------------MEDIA QUERIES ------------------------- */
@media only screen and (max-width:786px){
	header{
		position: absolute;
	}
	#menu-icon{
		margin-top: -20px;
		display: inline-block;
	}
	nav:hover ul{
		display: inline-block;
		visibility: visible;
	}
	nav ul{
		border: 1px solid white;
		border-radius: 10px;
		background-color: #873131;
		width: 50%;
		display: none;
		opacity: 0.9;
		right: 60px;
		top: 86px;
		position: absolute;
	}
	nav ul li{
		text-align: center;
		width: 100%;
		display: inline-block;
		padding: 10px 0;
	}
	section,aside,article{
		margin: 0;
		text-align: center;
		padding: 5% 0 0 0;
		width: 100%;
		display: block;
	}
}
@media only screen and (max-width: 286px){
	body{
		position: absolute;
	}
}